body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap; 
}

li, form {
    color: red;
}

.border {
    width: 33%;
    height: 300px;
    border: 1px solid blue;
    /*border-top: 1px solid blue;
    border-bottom: 1px solid blue;*/
    background-color: bisque;
    /*border: 2px dotted blue;*/
}

#presidents-container, #president-form, h3 {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

#a-delete-bttn {
    background-color: blue;
    color: white;
    border-radius: 50%;
}

#delete-bttn {
    background-color: pink;
    border-radius: 25%;
}

#achievement {
    background-color: green;
    color: white;
    border-radius: 10%;
}

#create {
    background-color: yellow;
    border-radius: 15%;
}

#president-form, h3 {
    color: black;
}

ul {
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}