body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap; 
}

li {
    color: red;
}

.border {
    width: 31%;
    height: 350px;
    /*border-top: 1px solid blue;
    border-bottom: 1px solid blue;*/
    background-color: bisque;
    /*border: 2px dotted blue;
    box-shadow: 10px 10px red; */
    margin-bottom: 30px;
}

#presidents-container, #president-form, h3 {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

#a-delete-bttn {
    background-color: blue;
    color: white;
    border-radius: 50%;
}

#delete-bttn {
    background-color: pink;
    border-radius: 25%;
}

#achievement {
    background-color: green;
    color: white;
    border-radius: 10%;
}

#create {
    background-color: yellow;
    border-radius: 15%;
}

#president-form, h3 {
    color: black;
}

ul {
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

#presidents-container {
    justify-content: space-between;
}

/*#president-form {
    margin-top: 30px;
}*/

#p-one {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}